
.content img {
  width: 150px; /* Adjust the width of the images */
  height: 150px; /* Adjust the height of the images */
  display: inline-block;
  margin-right: 50px; /* Add spacing between images */
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container {
  position: relative;
  margin-bottom: 20px;
  width: calc(33.33% - 20px); /* Adjust the width of each image container */
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.description {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}
.about img {
  width: 150px; /* Adjust the width of the images */
  height: 150px; /* Adjust the height of the images */
  display: inline-block;
  margin-right: 50px; /* Add spacing between images */
}